header {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 0px 115px;
  padding: 55px 60px 95px;
}

nav {
  font-size: 21px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 40px;
  font-family: ArialMT, Arial, Helvetica, sans-serif;
  float: left;
}

a {
  text-decoration: none;
  line-height: 28px;
  color: inherit;
  float: right;
}
